{
  "Globals": {
    "BUSCARUC_TOKEN": "reemplazar-con-token-real",
    "DYNAMODB_TABLE": "conflictzero-consultas",
    "S3_BUCKET": "conflictzero-documentos-dev",
    "ALLOWED_ORIGIN": "http://localhost:3000"
  }
}
